<app-header></app-header>

This is the main section
<h2>{{title}}</h2>

<button [ngClass]="{'active': activeView === 'list'}" (cilck)="selectView('list')">View List</button>
<button [ngClass]="{'active': activeView === 'addEmployee'}" (cilck)="selectView('addEmployee')">Add Employee</button>

  
<div *ngIf="activeView === 'addEmployee' ">
<h2> Add employee</h2>
{{newEmployee | json }}
  <div>
    Name: <input type="text" [(ngModel)]="newEmployee.name">
  </div>
  <div>
    Age: <input type="number" [(ngModel)]="newEmployee.age">
    </div>
  <button (click)="addEmployee()">Add</button>
  </div>
  

<div *ngIf="activeView === 'list'">

<table> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>View</th>
      <th>Delete</th>
    </tr>

  </thead>

    <tbody>
      <tr *ngFor="let emp of employees "[ngClass]="{ 'selected' : emp.selected }">
        <td>{{emp.name}} </td>
        <td>{{emp.age}}</td>
        <td> <button (click)="onSelectEmployee(emp)">view Details</button></td>
       <td> <button (click)="deleteEmployee(emp)">Delete</button></td>
 
       
      </tr>
    </tbody>
</table>

<div *ngIf="selectedEmployee">
  <h2> Selected Employee</h2>
  <p>Name:{{selectedEmployee.name}}</p>
  <p>Age:{{selectedEmployee.age}}</p>
</div>
</div>
