
<app-header [list]="menuList" (onMenuClick)="onMenuClick($event)" 
[buttonList]="buttonList" (onButtonClick)="selectView($event)" ></app-header>
<!--<app-header [list]="sectionList" (onMenuClick)="onSectionClick($event)"></app-header>-->


This is the main section
<h2>{{title | uppercase }}</h2>

<h2>{{11292017 | date : 'mm-dd-yyyy'}}</h2>

<!--<button [ngClass]="{'active': activeView === 'list'}" (click)="selectView('list')">View List</button>
<button [ngClass]="{'active': activeView === 'addEmployee'}" (click)="selectView('addEmployee')">Add Employee</button>-->

  
<div *ngIf="activeViewIndex === 1">
<h2> Add employee</h2>
{{newEmployee | json }}
  <div>
    Name: <input type="text" [(ngModel)]="newEmployee.name">
  </div>
  <div>
    Age: <input type="number" [(ngModel)]="newEmployee.age">
    </div>
  <button (click)="addEmployee()">Add</button>
  </div>
  

<div *ngIf="activeViewIndex === 0">

<table> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>View</th>
      <th>Delete</th>
    </tr>

  </thead>

    <tbody>
      <tr *ngFor="let emp of employees  let i = index"[ngClass]="{ 'selected' : emp.selected }">
        <td>{{emp.name}} </td>
        <td>{{emp.age}}</td>
        <td> <button (click)="onSelectEmployee(emp)">view Details</button></td>
       <td> <button (click)="deleteEmployee(i)">Delete</button></td>
 
       
      </tr>
    </tbody>
</table>

<div *ngIf="selectedEmployee">
  <h2> Selected Employee</h2>
  <p>Name:{{selectedEmployee.name}}</p>
  <p>Age:{{selectedEmployee.age}}</p>
</div>
</div>
