<app-header></app-header>
<div>
<h2> Add employee</h2>
  <div>
    Name: <input type = "text" [(ngModel)]="newEmployee.name">
  </div>
  <div>
    Age: <input type = "number" [(ngModel)]="newEmployee.age" (keyup.enter)="addEmployee()">
    
  </div>
 <!-- <button (click)=addEmployee()>Add</button>-->
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>View</th>
    </tr>

  </thead>

    <tbody>
      <tr *ngFor="let e of employees ">
        <td>{{e.name}} </td>
        <td>{{e.age}}</td>
        <td> <button (click)="selectEmployee(e)">view Details</button></td>
 
       
      </tr>
    </tbody>
</table>

<div *ngIf="selectedEmployee">
  <h2> Selected Employee</h2>
  <p>Name:{{selectedEmployee.name}}</p>
  <p>Age:{{selectedEmployee.age}}</p>
</div>
